details{
    display:block;
    margin-bottom: .5rem;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary {
    padding: .3em .5em .3em .4em;
    display:inline-block;
    font-size:1.2em;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
details[open] > summary:after {
    transform: scale(1,-1);
}
summary ~ * {
    padding:0 1em 0 1em;
}
summary:focus {
    outline:0;
    box-shadow: inset 0 0 1px rgb(50, 126, 145), inset 0 0 2px rgb(40, 106, 122);
}
details[open] summary ~ *{
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}
body{background: #286a7a;}